<%- include("partials/header") %>
<header>
	<div class="jumbotron">
		<div class="container">
			<h1>
			Campgrounds Tos!!
			</h1>
			<p>
				The most beatiful campgrounds in the world..
			</p>
			<p >
				<a href="/campgrounds/new" class="btn btn-primary ">New campground</a>
			</p>
		</div>
	</div>
</header>

<div class="container">
	<div class="row" style="display:flex ;flex-wrap:wrap">
		<% camp.forEach(function(camp){ %>
			<div class="col-lg-4 col-md-3"> 
				<figure class="thumbnail">
					<img class="img-responsive" src="<%=camp.img%>">
					<div class="caption">
						<p><%= camp.name %></p>
					</div>
					<p class="btnInfo">
						<a href="/campgrounds/<%=camp._id %>" class="btn btn-primary" >More Info</a>
					</p>
				</figure>
			</div>
		<% }) %>			
	</div>
</div>

<%- include("partials/footer") %>