<%- include("../partials/header") %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">TosCamp</p>
			<div class="list-group">
				<li class="list-group-item">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">	
				<div>
					<img class="img-responsive" alt="campgrounds" src="<%= camp.img%>">
					<div class="caption">
						<h4 class="pull-right"><strong>9.99$/night</strong></h4>
						<h4><a><%= camp.name %></a></h4>
						<p><%= camp.description%></p>
						<p><em>Submitted By <%= camp.author.username%></em></p>
						<% if(currentUser && camp.author.id.equals(currentUser._id)){ %>
							<a  class="btn btn-warning btnInLine" href="/campgrounds/<%=camp.id%>/edit">Edit</a>
							<form class="btnInLine" action="/campgrounds/<%=camp._id%>?_method=DELETE"  method="POST">
								<button class="btn btn-danger">Delete</button>
							</form>	
						<%}%>
					</div>
				</div>
			</div>
			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href="/campgrounds/<%=camp.id%>/comments/new">New Comment</a>
				</div>
				<hr>
			<% camp.comments.forEach(function(comment){ %>
				<div class="row">
					<div class="col-md-12">
						<span class="pull-right">10 days ago</span>
						<strong><%= comment.author.username %></strong>
						<p>
							<%= comment.content%>
						</p>
				<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
						<a class='btn btn-xs btn-warning btnInLine ' 																				 	href='/campgrounds/<%=camp._id%>/comments																					/<%=comment._id%>/edit'>Edit
						</a>
						<form class='btnInLine' action='/campgrounds/<%=camp._id%>/comments/															<%=comment._id%>?_method=DELETE' method='POST'>
							<button class='btn btn-xs btn-danger' value='submit'>Delete</button>
						</form>
					<% } %>
					</div>
				</div>
			<% }) %>
			</div>	
		</div>
	</div>	
</div>

<%- include("../partials/footer") %>